.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
}

h1{
    padding-top: 20px;
    padding-left: 20px;
}
*{
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}