<h1>Products</h1>
<hr>


<div class="container">

  <div class="card" *ngFor="let product of productList" style="width: 18rem;">
    <img class="card-img-top" src="assets/pro_img.jfif" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{product.name| uppercase}} </h5>
      <p class="card-text" *ngIf="product.price < 10">$ {{product.price}} (*On Discount)</p>
      <p class="card-text" *ngIf="product.price >= 10">$ {{product.price}} </p>
      <p class="card-text">{{product.description}}</p>
      <a class="btn btn-primary" (click)="onViewDetail(product.id)">Update</a>
      <a style="margin-left:20px" class="btn btn-primary" (click)="delete(product.id)">Delete</a>
    </div>
  </div>

  <!--a class="btn btn-primary" (click)="add()">Add</a-->

</div>



