.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 50px;
}

@media screen and (max-width:1000px) {
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr !important;
        grid-row-gap: 50px;
        max-width: 800px;
        margin: auto;
    }
}

@media screen and (max-width:680px) {
    .container{
        display: grid;
        grid-template-columns: 1fr !important;
        max-width: 400px;
        margin: auto;
    }
}

h1{
    padding-top: 20px;
    padding-left: 20px;
}
*{
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

.card:hover{
    transform: scale(1.05);
    transition-duration: 400ms;
}
